@import "compass";

body {
  width: 960px;
  margin: 0 auto; }

#branding {
  margin-bottom: 2em;
  background: image-url('header-bg.png');
  height: 187px;
  p {
    padding-right: 4em;
    text-align: right; } }

.site-name {
    text-align: center;

  a { 
    font-size: 2em;
    font-weight: normal;
    color: white;
    line-height: 187px;
    letter-spacing: 1.5em;
    text-transform: uppercase;
    text-decoration: none; } }

.site-slogan {
  margin: -5.5em 0 1.5em;
  color: white; }

.site-author {
  color: yellow;
  letter-spacing: .25em;
  text-transform: uppercase;}

#block-system-main-menu {
  a {
    display: block;
    letter-spacing: 0.25em;
    line-height: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: blue;
    &.active {
      background-color: yellow; } } 
    .expanded .menu a {
      padding-left: 3em;
      text-transform: none;
      color: gray; } }

#left {
  float: left;
  width: 200px; }

#main-content {
  margin-left: 200px;
  padding-left: 2em;
  line-height: 2em;
  color: gray;

  h1 {
    color: black;
    font-size: 1.6em; }
  .node-content {
    font-size: 1.1em;  }

    .node-personagem {

    .field-name-field-foto,
    .field-name-field-fatos {
      width: 45%;
      float: left; } 

    .field-name-field-foto {
      margin-left: -45%;
      img {
        border: 3px solid white;
        @include box-shadow(0 0 5px 0);
        display: block;
        margin: 0 14px 0 auto; } }

    .field-name-field-fatos {
      margin-top: 200px;
      background-color: PaleGoldenRod;
      color: brown;
      .field-label {
        padding: 14px 14px 0;
        color: black;
        font-size: 1.3em; }
      .field-items {
        padding: 0 28px 28px;
        font-size: 0.9em; }
      .field-item {
        list-style: disc outside none; } }

    .field-name-body {
      margin-left: 50%; } }
}

