@import "compass";

// Pallette
$link: #116490;
$grayed: #879298;
$active: #FFF4B6;
$text: #5E5E5E;
$boxbg: #e8e1d5;
$boxtext: #403729;

@mixin link-styles() {
  @include link-colors($link);
  text-decoration: none;
}

body {
  width: 960px;
  margin: 2.5em auto; }

#branding {
  margin-bottom: 2em;
  background: image-url('header-bg.png');
  height: 187px;
  p {
    padding-right: 4em;
    text-align: right; } }

.site-name {
    text-indent: 2.4em;

  a { 
    font-family: 'Hammersmith One', sans-serif;
    font-size: 1.6em;
    font-weight: normal;
    color: white;
    line-height: 187px;
    letter-spacing: 2.1em;
    @include text-shadow(black 0 0 3px);
    text-transform: uppercase;
    text-decoration: none; } }

.site-slogan {
  margin: -5.5em 0 1.5em;
  color: white; }

.site-author {
  color: yellow;
  letter-spacing: .25em;
  text-transform: uppercase;}

#block-system-main-menu .block-content {
  font-family: 'Hammersmith One', sans-serif;
  a {
    @include link-styles;
    display: block;
    letter-spacing: 0.25em;
    line-height: 2em;
    text-transform: uppercase;
    &.active {
      background-color: $active; }
    &:hover {
      background-color: lighten($active, 10%); } } 
    .expanded .menu a {
      padding-left: 1.5em;
      text-transform: none;
      letter-spacing: 0.1em;
      color: $grayed; 
      + .menu a {
        padding-left: 3em; } } }

#left {
  float: left;
  width: 200px; }

#main-content {
  font-family: Georgia, serif;
  letter-spacing: 0.1em;
  line-height: 2em;
  color: $text;

  #left + & {
    margin-left: 200px;
    padding-left: 2em; }

  > a:first-child {
    @include link-styles;
    font-size: .85em;
  }

  h1 {
    margin-bottom: 1em;
    font-family: 'Hammersmith One', sans-serif;
    color: black;
    font-weight: normal;
    font-size: 1.6em; 

    + a  { 
      @include link-styles;
      display: block;
      font-size: .85em;
      margin: -2em 0 2em; } }

  body.front & .field-name-body {
    font-size: 1.1em;
    line-height: 1.66em;
    color: #777;
  }

  .node-content {
    font-size: 1.1em; } }

#header {
  float: right;
  margin-bottom: -50px; }

#block-search-form {

  margin: 1em 2em 0 0;

  .form-text {
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
    background-color: $active; }

  .form-actions {
    display: none; }
}


.view-id-brado_personagens.view-display-id-page {

  .view-header p {
    margin-bottom: 1em; }

  .views-row {
    min-height: 100px;
    margin-bottom: 1em; }

  .views-field-field-foto {
    float: left;
    width: 100px;

    a {
      display: block;
      text-align: center; }

    img {
      }

    ~ div { 
      margin-left: 114px;} }

  .views-field-title {
    a {
      @include link-styles;
      font-weight: bold; } } }

body.node-type-album {
  .field-name-field-fotos {
    .field-items {
      @include pie-clearfix; }
    .field-item {
      float: left;
      width: 200px;
      margin-bottom: 1em; }
  }
}

#block-system-powered-by {
  text-align: right;
  font-family: 'Hammersmith One', sans-serif;
  color: lighten($text, 25%);
  a {
    @include link-styles; }
}

.view-id-brado_videos.view-display-id-page {
  .view-content {
    @include pie-clearfix; }
  .views-row {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    width: 220px; }
  .views-field-title {
    margin-top: -0.5em;
    min-height: 2em;
    margin-bottom: 1em;
    a { 
    @include link-styles; } }
}

#block-views-patrocinadores-block {
  h3 { 
  font-family: 'Hammersmith One', sans-serif;
  font-weight: normal;
  color: $text;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-top: 1em;
  }
}

.node-type-page .field-name-field-banner {
  margin-bottom: 1em;
  .field-items {
    text-align: center; }
  .field-item {
    display: inline-block; }
  img {
    @include border-radius;
    @include box-shadow;
    border-color: 3px white solid;
    display: block; }
  .copyright {
    font-size: .75em;
    text-align: right;}
}

.node-personagem {

  .field-name-field-tags {
    .field-label, .field-item, .field-items {
      display: inline;
      float: none;
      line-height: 12px; }
    .field-item {
      padding: 0 .25em; 
      font-size: 0.75em;
      a { 
        @include link-styles;
        line-height: 12px; } }
  }

  .fotos-e-fatos {
    float: left;
    width: 45%;
    padding: 0 2em 1em 0;
  }

  .field-name-field-foto,
  .field-name-field-fatos {
  } 

  .field-name-field-foto {
    float: left;
    width: 100%;
    img {
      border: 3px solid white;
      @include box-shadow(#666 0 0 5px 0);
      display: block;
      margin: 0 14px 0 auto; } }

  .field-name-field-fatos {
    margin-top: 222px;
    background-color: $boxbg;
    color: $boxtext;
    .field-label {
      padding: 14px 14px 0;
      color: black;
      font-weight: normal;
      font-size: 1.3em; }
    .field-items {
      padding: 0 28px 14px;
      font-size: 0.9em; }
    .field-item {
      list-style: disc outside none; } }

  .field-name-body { }
}
