body {
  width: 960px;
  margin: 0 auto; }

#branding {
  background: image-url('header-bg.png');
  height: 187px; }

h1.site-name {
    text-align: center;

  a { 
    font-size: 2em;
    font-weight: normal;
    color: white;
    line-height: 187px;
    letter-spacing: 1.5em;
    text-transform: uppercase;
    text-decoration: none;  } }
