/* line 1, ../sass/brado.scss */
body {
  width: 960px;
  margin: 0 auto;
}

/* line 5, ../sass/brado.scss */
#branding {
  background: url('../images/header-bg.png?1314341549');
  height: 187px;
}
/* line 8, ../sass/brado.scss */
#branding p {
  padding-right: 4em;
  text-align: right;
}

/* line 12, ../sass/brado.scss */
.site-name {
  text-align: center;
}
/* line 15, ../sass/brado.scss */
.site-name a {
  font-size: 2em;
  font-weight: normal;
  color: white;
  line-height: 187px;
  letter-spacing: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 24, ../sass/brado.scss */
.site-slogan {
  margin: -5.5em 0 1.5em;
  color: white;
}

/* line 28, ../sass/brado.scss */
.site-author {
  color: yellow;
  letter-spacing: .25em;
  text-transform: uppercase;
}
