/* line 16, ../sass/brado.scss */
body {
  width: 960px;
  margin: 2.5em auto;
}

/* line 20, ../sass/brado.scss */
#branding {
  margin-bottom: 2em;
  background: url('../images/header-bg.png?1314341549');
  height: 187px;
}
/* line 24, ../sass/brado.scss */
#branding p {
  padding-right: 4em;
  text-align: right;
}

/* line 28, ../sass/brado.scss */
.site-name {
  text-indent: 2.4em;
}
/* line 31, ../sass/brado.scss */
.site-name a {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 1.6em;
  font-weight: normal;
  color: white;
  line-height: 187px;
  letter-spacing: 2.1em;
  text-shadow: black 0 0 3px;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 42, ../sass/brado.scss */
.site-slogan {
  margin: -5.5em 0 1.5em;
  color: white;
}

/* line 46, ../sass/brado.scss */
.site-author {
  color: yellow;
  letter-spacing: .25em;
  text-transform: uppercase;
}

/* line 51, ../sass/brado.scss */
#block-system-main-menu .block-content {
  font-family: 'Hammersmith One', sans-serif;
}
/* line 53, ../sass/brado.scss */
#block-system-main-menu .block-content a {
  color: #116490;
  text-decoration: none;
  display: block;
  letter-spacing: 0.25em;
  line-height: 2em;
  text-transform: uppercase;
}
/* line 59, ../sass/brado.scss */
#block-system-main-menu .block-content a.active {
  background-color: #fff4b6;
}
/* line 61, ../sass/brado.scss */
#block-system-main-menu .block-content a:hover {
  background-color: #fffce9;
}
/* line 63, ../sass/brado.scss */
#block-system-main-menu .block-content .expanded .menu a {
  padding-left: 1.5em;
  text-transform: none;
  letter-spacing: 0.1em;
  color: #879298;
}
/* line 68, ../sass/brado.scss */
#block-system-main-menu .block-content .expanded .menu a + .menu a {
  padding-left: 3em;
}

/* line 71, ../sass/brado.scss */
#left {
  float: left;
  width: 200px;
}

/* line 75, ../sass/brado.scss */
#main-content {
  font-family: Georgia, serif;
  letter-spacing: 0.1em;
  line-height: 2em;
  color: #5e5e5e;
}
/* line 81, ../sass/brado.scss */
#left + #main-content {
  margin-left: 200px;
  padding-left: 2em;
}
/* line 85, ../sass/brado.scss */
#main-content > a:first-child {
  color: #116490;
  text-decoration: none;
  font-size: .85em;
}
/* line 90, ../sass/brado.scss */
#main-content h1 {
  margin-bottom: 1em;
  font-family: 'Hammersmith One', sans-serif;
  color: black;
  font-weight: normal;
  font-size: 1.6em;
}
/* line 97, ../sass/brado.scss */
#main-content h1 + a {
  color: #116490;
  text-decoration: none;
  display: block;
  font-size: .85em;
  margin: -2em 0 2em;
}
/* line 103, ../sass/brado.scss */
body.front #main-content .field-name-body {
  font-size: 1.1em;
  line-height: 1.66em;
  color: #777;
}
/* line 109, ../sass/brado.scss */
#main-content .node-content {
  font-size: 1.1em;
}

/* line 112, ../sass/brado.scss */
#header {
  float: right;
  margin-bottom: -50px;
}

/* line 116, ../sass/brado.scss */
#block-search-form {
  margin: 1em 2em 0 0;
}
/* line 120, ../sass/brado.scss */
#block-search-form .form-text {
  font-family: 'Hammersmith One', sans-serif;
  text-transform: uppercase;
  background-color: #fff4b6;
}
/* line 125, ../sass/brado.scss */
#block-search-form .form-actions {
  display: none;
}

/* line 132, ../sass/brado.scss */
.view-id-brado_personagens.view-display-id-page .view-header p {
  margin-bottom: 1em;
}
/* line 135, ../sass/brado.scss */
.view-id-brado_personagens.view-display-id-page .views-row {
  min-height: 100px;
  margin-bottom: 1em;
}
/* line 139, ../sass/brado.scss */
.view-id-brado_personagens.view-display-id-page .views-field-field-foto {
  float: left;
  width: 100px;
}
/* line 143, ../sass/brado.scss */
.view-id-brado_personagens.view-display-id-page .views-field-field-foto a {
  display: block;
  text-align: center;
}
/* line 150, ../sass/brado.scss */
.view-id-brado_personagens.view-display-id-page .views-field-field-foto ~ div {
  margin-left: 114px;
}
/* line 154, ../sass/brado.scss */
.view-id-brado_personagens.view-display-id-page .views-field-title a {
  color: #116490;
  text-decoration: none;
  font-weight: bold;
}

/* line 160, ../sass/brado.scss */
body.node-type-album .field-name-field-fotos .field-items {
  *zoom: 1;
}
/* line 38, ../../../../../../../.rvm/gems/ruby-1.9.2-p180@compassdev/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body.node-type-album .field-name-field-fotos .field-items:after {
  content: "";
  display: table;
  clear: both;
}
/* line 162, ../sass/brado.scss */
body.node-type-album .field-name-field-fotos .field-item {
  float: left;
  width: 200px;
  margin-bottom: 1em;
}

/* line 169, ../sass/brado.scss */
#block-system-powered-by {
  text-align: right;
  font-family: 'Hammersmith One', sans-serif;
  color: #9e9e9e;
}
/* line 173, ../sass/brado.scss */
#block-system-powered-by a {
  color: #116490;
  text-decoration: none;
}

/* line 178, ../sass/brado.scss */
.view-id-brado_videos.view-display-id-page .view-content {
  *zoom: 1;
}
/* line 38, ../../../../../../../.rvm/gems/ruby-1.9.2-p180@compassdev/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.view-id-brado_videos.view-display-id-page .view-content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 180, ../sass/brado.scss */
.view-id-brado_videos.view-display-id-page .views-row {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  width: 220px;
}
/* line 185, ../sass/brado.scss */
.view-id-brado_videos.view-display-id-page .views-field-title {
  margin-top: -0.5em;
  min-height: 2em;
  margin-bottom: 1em;
}
/* line 189, ../sass/brado.scss */
.view-id-brado_videos.view-display-id-page .views-field-title a {
  color: #116490;
  text-decoration: none;
}

/* line 194, ../sass/brado.scss */
#block-views-patrocinadores-block h3 {
  font-family: 'Hammersmith One', sans-serif;
  font-weight: normal;
  color: #5e5e5e;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-top: 1em;
}

/* line 204, ../sass/brado.scss */
.node-type-page .field-name-field-banner {
  margin-bottom: 1em;
}
/* line 206, ../sass/brado.scss */
.node-type-page .field-name-field-banner .field-items {
  text-align: center;
}
/* line 208, ../sass/brado.scss */
.node-type-page .field-name-field-banner .field-item {
  display: inline-block;
}
/* line 210, ../sass/brado.scss */
.node-type-page .field-name-field-banner img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  border-color: 3px white solid;
  display: block;
}
/* line 215, ../sass/brado.scss */
.node-type-page .field-name-field-banner .copyright {
  font-size: .75em;
  text-align: right;
}

/* line 223, ../sass/brado.scss */
.node-personagem .field-name-field-tags .field-label, .node-personagem .field-name-field-tags .field-item, .node-personagem .field-name-field-tags .field-items {
  display: inline;
  float: none;
  line-height: 12px;
}
/* line 227, ../sass/brado.scss */
.node-personagem .field-name-field-tags .field-item {
  padding: 0 .25em;
  font-size: 0.75em;
}
/* line 230, ../sass/brado.scss */
.node-personagem .field-name-field-tags .field-item a {
  color: #116490;
  text-decoration: none;
  line-height: 12px;
}
/* line 235, ../sass/brado.scss */
.node-personagem .fotos-e-fatos {
  float: left;
  width: 45%;
  padding: 0 2em 1em 0;
}
/* line 245, ../sass/brado.scss */
.node-personagem .field-name-field-foto {
  float: left;
  width: 100%;
}
/* line 248, ../sass/brado.scss */
.node-personagem .field-name-field-foto img {
  border: 3px solid white;
  -moz-box-shadow: #666666 0 0 5px 0;
  -webkit-box-shadow: #666666 0 0 5px 0;
  -o-box-shadow: #666666 0 0 5px 0;
  box-shadow: #666666 0 0 5px 0;
  display: block;
  margin: 0 14px 0 auto;
}
/* line 254, ../sass/brado.scss */
.node-personagem .field-name-field-fatos {
  margin-top: 222px;
  background-color: #e8e1d5;
  color: #403729;
}
/* line 258, ../sass/brado.scss */
.node-personagem .field-name-field-fatos .field-label {
  padding: 14px 14px 0;
  color: black;
  font-weight: normal;
  font-size: 1.3em;
}
/* line 263, ../sass/brado.scss */
.node-personagem .field-name-field-fatos .field-items {
  padding: 0 28px 14px;
  font-size: 0.9em;
}
/* line 266, ../sass/brado.scss */
.node-personagem .field-name-field-fatos .field-item {
  list-style: disc outside none;
}
